@font-face {
    font-family: CascadiaCode;
    src: url("C:\\Users\\bigta\\OneDrive\\Documents\\Code\\React\\CLI Portfolio\\src\\fonts\\CascadiaCode\\Caskaydia Cove Nerd Font Complete Mono Windows Compatible SemiBold.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    background-color: #303030;
    min-height: 100vh;
    font-family: CascadiaCode, 'Fira Code', monospace;
}